:root{
    --bg-color:#150930;
    --surface-color: #201045;
    --accent-color: #a838f0;
    --text-color: #ffffff;
    --text-deactivate: #201045 ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.app{
    display: block;
    width: 100vw;
    height: 100vh;
}

.header_container{
    color: var(--accent-color);
    display: block;
    width: 100%;
    height: 72px;
    background-color: pink;

}

.left_container{
    display: block;
    width: 260px;
    height: 100%;
    background-color: blueviolet;
}
.container_navbar{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: 260px;
    gap: 8px;
    border: 5px;
    
}
.item_navbar{
  
    width: 100%;
    padding: 12px 16px;
    height: 44px;
    border: 2px;
    border-radius: 12px;
}

.active{
    background-color: rgba(168, 58, 240, 14%);
    width: 100%;
    padding: 12px 16px;
    height: 44px;
    border: 2px;
    border-radius: 12px;
}

.active a{
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color);

}

.item_navbar{
    font-size: 15px;
    font-weight: bold;
    color: var(--text-deactive-color);

}

.feed_container{
    display: block;
    width: 100%;
    height: 100%;
    color: #150930;
}

.right_container{
    display: block;
    width: 320px;
    height: 100%;
    background-color: antiquewhite;

}