body{
    background-color: #47883D;
}

.container_entire{
    padding: 20px 30px 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.entire_quadro1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16133A;
    width: 100%;
    height: 1000px;
}

.entire_quadro2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3D0476;
    width: 75%;
    height: 800px;
}

.entire_linha{
    background-color: #227A14;
    height: 89px;
    width: 100%;
}