.container_tudo2{
    padding: 10px 30px 45px 15px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.topo{
    background-color:#227A14;
    width: 100;
    height: 89px;
}

.container_meio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.meio1{
    background-color:#430087;
    width:795px;
    height: 739px;
}

.meio2{
    background-color:#3D0476;
    width: 492px;
    height: 739px;
}